<!-- Sidebar  -->
<nav id="sidebar">
  <div id="dismiss">
    <i class="fas fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/page/png">Go to picture</a>
        </li>
        <li>
          <a href="/page/about">Go to Sound</a>
        </li>
        <li>
          <a href="/page/about">Go to Text</a>
        </li>
        <li>
          <a href="/page/about">Go to Video</a>
        </li>
    </li>
  </ul>
</nav>
