{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
    block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
    'include/sidebar.html' %}
    
<body>
    <h1 class="display-1">Conditions Générales d'Utilisation</h1>
    <p class="font-weight-normal">Date d'entrée en vigueur : [Indiquer la date d'entrée en vigueur]</p>
    <p class="font-weight-normal">Les présentes conditions générales d'utilisation régissent l'utilisation du site internet [Nom du site] (ci-après dénommé "le Site") et de ses services associés, notamment l'accès à une intelligence artificielle à des fins non commerciales..</p>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1. Acceptation des Conditions d'Utilisation
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">L'utilisation du Site implique l'acceptation pleine et entière des présentes conditions générales d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Site.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2. Accès au Service
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Le Site s'engage à fournir un accès à son service, y compris à l'intelligence artificielle, conformément aux présentes conditions générales d'utilisation.</div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3. Utilisation du Service
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Vous vous engagez à utiliser le service offert par le Site de manière conforme à la loi et aux présentes conditions générales d'utilisation. Vous êtes responsable de toutes les activités qui se déroulent sous votre compte.</div>
          </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4. Propriété Intellectuelle
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                L'ensemble des contenus présents sur le Site, y compris l'intelligence artificielle, sont la propriété exclusive de [Nom de la société/du site]. Toute reproduction, distribution ou exploitation non autorisée est strictement interdite.
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5. Protection des Données Personnelles
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                Le Site s'engage à respecter la vie privée de ses utilisateurs et à protéger leurs données personnelles conformément à sa politique de confidentialité disponible sur le Site
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    6. Responsabilité
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                Le Site décline toute responsabilité en cas d'utilisation abusive de son service ou de tout dommage résultant de l'utilisation du Site, dans les limites autorisées par la loi.
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    7. Modifications des Conditions d'Utilisation
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                Le Site se réserve le droit de modifier à tout moment les présentes conditions générales d'utilisation. Les utilisateurs seront informés de toute modification via le Site.
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingHeight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                    8. Droit Applicable et Juridiction Compétente
                </button>
              </h5>
            </div>
            <div id="collapseHeight" class="collapse" aria-labelledby="headingHeight" data-parent="#accordionExample">
              <div class="card-body">
                Les présentes conditions générales d'utilisation sont régies par le droit [indiquer la juridiction applicable]. Tout litige relatif à leur interprétation ou à leur exécution sera soumis à la compétence exclusive des tribunaux de [indiquer la ville/le pays compétent].
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    9. Contact
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                Pour toute question ou réclamation concernant les présentes conditions générales d'utilisation, les utilisateurs peuvent contacter [Nom de la société/du site] à l'adresse [adresse de contact].
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
