{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
    block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
    'include/sidebar.html' %}
    
  <body>
    <!-- Contenu spécifique de la page -->

    <!-- Boutons pour naviguer vers différentes pages -->
    <div class="btn-group">
      <a class="btn" href="/Text">{{data.titreText}}</a>
      <a class="btn" href="/Upload_files">{{data.titreFile}}</a>
    </div>
  </body>
</html>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
