<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Inclure Bootstrap (avec la référence CDN) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Parisienne"
  />
  </head>
  <body>
    <!-- En-tête (Header) -->
    <header class="bg-dark text-white">
        <div class="container d-flex align-items-center">
            <img
          src="\static\Logo_theatre.png"
          height="60"
          width="60"
          alt="Logo"
          class="rounded-circle ml-3"
        />
        <!-- Titre -->
        <h1 class="display-4;text-primary ml-3">Mon Site Web</h1>
        </div>
        <!-- <div class="container"> -->
        <!-- Logo -->
        
      </div>
    </header>
  </body>
</html>
