{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
    block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
    'include/sidebar.html' %}
    
  <body>  
    <h1>Upload a Picture:</h1>
    <form method="post" action="/submit/" style="margin:0 auto;width:800px;">
        <div class="form-row">
          <p style="margin:0 auto;">In order to distinguish if picture is either negative or positive </p>
        </div>
        
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
      </form>
  </body>
  </html>
  {% endblock %} {% block scripts %} {{ super() }} {% endblock %}