{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
  block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
  'include/sidebar.html' %}
  
<body>
  <!-- Contenu spécifique de la page -->
  <h1>Sound submitted successfully ✅️</h1>
  <p>Sound upload: {{ file_input }}</p>
  <audio controls autoplay>
    <source src="{{ file_path }}">
  </audio>
  <p><a href="/">Home</a></p>

</body>
</html>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}