{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
    block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
    'include/sidebar.html' %}
    
  <body>  
    <h1>Entrez du texte:</h1>
    <form method="post" action="/submit/" style="margin:0 auto;width:800px;">
        <div class="form-row">
          <p style="margin:0 auto;">In order to distinguish if the text is either negative or positive </p>
        </div>
        <div class="form-row">
          <div class="form-check" >
            <input class="form-check-input" type="radio" name="RadioToChooseTEXTorURL" id="TEXT" value="HaveChooseText" checked>
            <label class="form-check-label" for="TEXT">TEXT    </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="RadioToChooseTEXTorURL" id="URL" value="HaveChooseURL">
            <label class="form-check-label" for="URL">URL          </label>
          </div>
          <div class="form-group col-md-4">
            <p>azertyuiop</p>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Text or URL</label>
          <input type="text" class="form-control" name="text_input" placeholder="Please, fill the text or URL here" required>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </form>
  </body>
  </html>
  {% endblock %} {% block scripts %} {{ super() }} {% endblock %}