{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
    block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
    'include/sidebar.html' %}
    
  <body>  
    <h1>Upload a video:</h1>
    <form method="post" action="/submitted_video/" style="margin:0 auto;width:800px;" enctype="multipart/form-data">
        <div class="form-row">
          <p style="margin:0 auto;">In order to distinguish if video is either negative or positive </p>
        </div>
        
        <div class="mb-3">
            <input class="form-control" type="file" name="file_input" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary">UPLOAD</button>
      </form>
  </body>
  </html>
  {% endblock %} {% block scripts %} {{ super() }} {% endblock %}